.card-image {
  width: 20rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

select {
  max-width: 20rem;
}

@media only screen and (max-width: 671px) {
  .card-container {
    margin: 0 auto;
  }
}

input {
  padding: 0.5rem;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
